@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
      
body{
    background-color: rgb(228, 228, 234);
    
}
header{
padding: 32px;
border: 5px solid rgb(17, 17, 17);
background-color: rgb(205, 204, 206);
}

header div {
text-align: center;
}
header div a {
color: azure;
font-size: 32px;
line-height: 30px;
margin: 0 16px;
text-decoration: none;
font-family: "Open Sans", sans-serif;
transition: 700px;

} 

header div a:hover{
color: black;
font-size: 38px;
transition: 700px;

}